@keyframes escalar {
    to{
        scale: 1.1;
    }
    
}

* {
    margin: 0;
    padding: 0;
    
}
.logo{
    margin: 0px;
    width: 100px;

}

.contenedor{
    display: flex;
    width: 100%;
    height: 100px;
    box-shadow: 0px 8px 5px 0px rgba(0,0,0,0.62);
-webkit-box-shadow: 0px 8px 5px 0px rgba(0,0,0,0.62);
-moz-box-shadow: 0px 8px 5px 0px rgba(0,0,0,0.62);

}

.contenedor-nav{
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    overflow: hidden;
    align-items: center;
    gap: 30px;


}
body{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,219,0,1) 100%);


}
header{
    width: 100%;
}

header a{
    color:rgba(11,148,186,255);
    font-weight:600;
    font-size: 1.5em;
    text-decoration: none;

}

header a:hover{
    color:rgb(255, 255, 255);
    animation-name: escalar;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.section-portada{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    height: 40vh;
    margin-top: 20vh;
    
}
.div1-portada{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    width: 60vh;
    height: 100%;
    color: white;
}
.div1-portada h3{
    font-size: 2em;
    height: 40%;
    width: 100%;
    text-align: center;
    -webkit-text-stroke: 0.3px black;
    font-weight: 700;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
}
.div1-portada p{
   
    font-size: 1.5em;
    height: 40%;
    width: 100%;
    text-align: center;
    font-weight: 500;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
}
.div1-portada button{
    width: 70%;
    height: 50px;
    background-color:rgba(11,148,186,255);
    border-radius: 15px;
    border-style: none;
   
}
.div1-portada button a{
    color: white;
    font-size: 1em;
    font-weight: 700;
    text-decoration: none;
}
.div1-portada button:hover{
    background-color: blue;
    animation-name: escalar;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.div2-portada{
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    width: 80vh;
    height: 100%;
}
.div2-portada img{
    width: 100%;
}
.texto-info{
    width: 100%;
    height: 30vh;
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.texto-info p{
    width: 70%;
    height: 50%;
    font-size: 1em;
    text-align: center;
    color: white;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 2px 22px rgba(0,0,0,0.76);
    
}

.section-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15vh;

}
.cards{
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}
.cards:hover{
    animation-name: escalar;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.section-contacto{
    display: flex;
    justify-content: space-evenly;
    margin-top: 15vh;
    margin-bottom: 10vh ;
}
.div-contactanos{
    
}
.div-contactanos ul{
    list-style:none;
    margin-top: 5vh;
}
.contactanos-redes{
    display: flex;
    gap: 10px;
}
.contactanos-redes p{
   font-size: 60px;
   margin-top: 100px;
}
.contactanos-redes p:hover{
    animation-name: escalar;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.section-footer{
    background-color: white;
    display: flex;
    justify-content: center;
}